$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: rgb(44, 44, 44);
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #707070;
$color-black: #000;

$color-primary: #d4bd9f;
$color-primary-dark: #b28451;
$color-brown-dark-1: #7c6d5b;
$color-brown-dark-2: #6d5d4b;
$color-brown-dark-3: #35302a;
$color-secondary: #050b13;
$color-gold-metalic: #d4af37;

// RESPONSIVE BREAKPOINTS

$bp-lg: 75em; // normal 1200
$bp-md: 48em; // tablet 768
$bp-sm: 32em; // phone 500
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

html {
	font-size: 62.5%;
	@media only screen and (max-width: $bp-lg) {
		font-size: 50%;
	}
}
