.events {
	&-title {
		display: block;
		font-size: 5rem;
		font-weight: 400;
		text-align: center;
		color: $color-brown-dark-2;
		font-family: "Josefin Sans", sans-serif;
		position: relative;
	}
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-gap: 3rem;
	padding: 0.5rem 0;
}

.event {
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 30rem;
	overflow: hidden;
	box-shadow: 1px 2px 2px 2px rgba($color-primary, 0.1);

	&__img {
		flex: 0 0 90%;
		width: 100%;

		&--1 {
			background: url("../img/birthday.jpg") left 25% center / cover no-repeat;
		}
		&--2 {
			background: url("../img/mr-mrs.jpg") left 35% center / cover no-repeat;
		}
		&--3 {
			background: url("../img/valentine.jpg") left 35% center / cover no-repeat;
		}
		&--4 {
			background: url("../img/new-born.jpg") top 10% center / cover no-repeat;
		}
		&--5 {
			background: url("../img/openings.jpg") left 35% center / cover no-repeat;
		}
		&--6 {
			background: url("../img/new-year.jpg") bottom 70% center / cover no-repeat;
		}
	}

	&__title {
		text-align: center;
		font-size: 2.5rem;
		color: $color-brown-dark-1;
		font-weight: 400;
	}
}
