.section-about {
	padding: 6rem 0;
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 50%;
		height: 100%;
		background-color: rgba($color-primary, 0.4);
		top: 0%;
		left: 50%;
		position: absolute;
	}
}
.section-features {
	background-color: white;
	padding: 6rem 0;
}

.section-events {
}
